* {
    margin: 0;
    padding: 0;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar a {
    margin-right: 15px;
    text-decoration: none;
    color: #1D232C;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar h1 {
    margin-left: 10px;
}

.navbar i {
    display: none;
}

/* Side Navbar */

.side-navbar {
    position: fixed;
    height: 100%;
    width: 55%;
    background-color: #1D232C;
    top: 0;
    left: -55%;
    padding-top: 40px;
    transition: 1.8s
}

.side-navbar a {
    color: white;
    margin-left: 20px;
    margin-bottom: 30px;
    width: fit-content;
    text-decoration: none;
    display: block;
}

.side-navbar a:hover {
    text-decoration: underline;
}

.side-navbar i {
    position: absolute;
    top: 2%;
    right: 2%;
    color: white;
    padding: 5px;
}

/* Header */

.header-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.header button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1D232C;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.header {
    margin-right: 50px;
}

/* Customer */
.customer-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer-2{
    display: flex;
    gap: 10px;
}

.customer-3{
    background-color: #f2f4f7;
    border-radius: 5px;
    padding: 15px;
}

.customer-container{
    padding: 20px;
    margin-top: 40px;
}

/* New Arrival*/

.products{
    position: relative;
}

.products button{
    position: absolute;
    top: 55%;
    left: 35%;
    background-color: #f0f0f0;
    color: #1D232C;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    gap: 170px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.new-arrival h2{
    padding-left: 20px;
}


@media screen and (max-width: 700px) {
    .navbar p {
        display: none;
    }

    .navbar i {
        display: block;
        padding-right: 10px;
    }

    .image-section {
        display: none;
    }

    .customer-1{
        display: none;
    }

    .customer-2{
        flex-direction: column;
    }

}